.profileImage {
  border-radius: 50%;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.App {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 4500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
